<launch>

    <node pkg="psr_aula9_ex5" type="publisher.py"  name="Publisher_A" output='screen'>
        <remap from="topic" to="dog_1"/>
        <param name="frequency" type="double" value="1.0"/>
    </node>
    <node pkg="psr_aula9_ex5" type="publisher.py"  name="Publisher_B" output='screen'>
        <remap from="topic" to="dog_1"/>
        <param name="frequency" type="double" value="3.0"/>
    </node>
    <node pkg="psr_aula9_ex5" type="subscriber.py"  name="Subscriber_AB1" output='screen'>
        <remap from="topic" to="dog_1"/>
    </node>
    <node pkg="psr_aula9_ex5" type="subscriber.py"  name="Subscriber_AB2" output='screen'>
        <remap from="topic" to="dog_1"/>
    </node>
    <node pkg="psr_aula9_ex5" type="publisher.py"  name="Publisher_C" output='screen'>
        <remap from="topic" to="dog_2"/>
        <param name="frequency" type="double" value="1.0"/>
    </node>
    <node pkg="psr_aula9_ex5" type="subscriber.py"  name="Subscriber_C" output='screen'>
        <remap from="topic" to="dog_2"/>
    </node>
    <node pkg="rqt_graph" type="rqt_graph"  name="rqt" output='screen'>
     </node>

</launch>