<launch>
   
    <node pkg="rosbag" type="play"  name="play_node" output='screen' 
    args='/home/ricardo/bagfiles/pr2_mit_rgbd.bag -l'>
    </node>
    <node pkg="rviz" type="rviz"  name="rviz_node" output='screen' 
    args='-d $(find psr_aula10_ex6)/config/config.rviz'>        
    </node>
   
</launch>